<div class="article-card-container1">
  <img
    [attr.alt]="imageAlt"
    [attr.src]="imageSrc"
    class="article-card-image1"
  />
  <div class="article-card-container2">
    <h3 class="article-card-text1 Healine">{{ newProp }}</h3>
    <div class="article-card-container3">
      <span class="article-card-text2">{{ description }}</span>
    </div>
    <div class="article-card-container4">
      <img
        [attr.alt]="avatarAlt"
        [attr.src]="avatarSrc"
        class="article-card-image2"
      />
      <div class="article-card-container5">
        <span class="article-card-text3">{{ name }}</span>
        <div class="article-card-container6">
          <span class="article-card-text4 TextSM">{{ time }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
